.carta-artista {
  background-color: #181818;
  border-radius: 8px;
  padding: 15px;
  color: white;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
  width: 10%;
}

.carta-artista:hover {
  background-color: #282828;
}

.carta-artista img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.carta-artista h3 {
  font-size: 16px;
  margin: 0;
}
/* En pantallas medianas y grandes */
@media (min-width: 768px) {
  .carta-cancion, .carta-artista {
    flex: 0 0 10%; /* vuelve a 10% en pantallas más grandes */
    max-width: none;
  }
}