.carta-cancion {
  position: relative; /* para poder posicionar el botón encima */
  background-color: #181818;
  border-radius: 8px;
  padding: 15px;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
  width: 10%;
}

.carta-cancion:hover {
  background-color: #282828;
}

.carta-cancion img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}


.btn-reproducir {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 47%;
  left: 74%;
  transform: translate(-50%, -50%);
  background-color: #1db954;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


.carta-cancion:hover .btn-reproducir {
  opacity: 1;
  pointer-events: auto;
}

.carta-cancion h3 {
  font-size: 16px;
  margin: 0;
}

.carta-cancion p {
  color: #b3b3b3;
  font-size: 14px;
  margin: 4px 0 0;
}
.contenedor-canciones {
  display: flex;
  flex-wrap: wrap;       /* Permite que los hijos bajen a la siguiente fila */
  gap: 10px;             /* Espacio entre cartas */
  justify-content: space-between; /* Ajusta alineación */
}



@media (max-width: 480px) {
  .carta-cancion {
    width: calc(30% - 1px);
    margin: 0;
  }




  /* Otros ajustes que tienes */
  .imagen-cancion img {
    width: 40px;
    height: 40px;
  }

  .info-cancion h3 {
    font-size: 14px;
  }

  .info-cancion p {
    font-size: 12px;
  }
}
